body {
	.show{
		display: block;
	}
    font-family: "Lato", sans-serif;
	.sidenav {
		height: 100%;
		width: 250px;
		position: fixed;
		z-index: 1;
		top: 0;
	    left: 0;
	    background-color: #111;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 60px;
	    ul {
	    	list-style-type: none;
	    	padding-left: 0px;
			li{
				a {
				    
				    text-decoration: none;
				    font-size: 17px;
				    color: #818181;
				    display: block;
				    transition: 0.3s;
				}
				a:hover, .offcanvas a:focus{
				    color: #f1f1f1;
				}
				.parent_text{
					font-size: 20px;
					color: #BFE28C;	
				}
			}
	    }

	    
	}
	.mySidenav{
		width: 250px;
	}
	#main{
		transition: margin-left .5s;
		margin-left: 250px;
    	padding: 16px;
	}
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
	